@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/nullStyle.css">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="burger__logo"><img src="~/img/FILM.png" alt=""></div>
            <div class="header__burger">
                <div class="burger__inforamtion">
                    <a class="text1" href=""><img class="information__ico" src="~/img/news.png" alt="">Новинки</a>
                    <a class="text1" href=""><img class="information__ico" src="~/img/filmpng.png" alt="">Фильмы</a>
                    <a class="text1" href=""><img class="information__ico" src="~/img/series.png" alt="">Сериалы</a>
                    <a class="text1" href=""><img class="information__ico" src="~/img/cartoon.png" alt="">Мультфильмы</a>
                </div>
                <form asp-action="Profile" asp-controller="Profile" method="post" enctype="multipart/form-data">
                    <button type="submit" class="profile"><img src="~/img/profile.png" alt=""></button>
                </form>
            </div>
        </div>
        <div class="content">
            @RenderBody();
        </div>
    </div>
</body>
</html>