body {
    background: #100e19;
}

.container {
}

.login {
    width: 400px;
    height: auto;
    margin: 40px auto;
    background: #1f1b2e;
    border-radius: 10px;
    padding: 0 20px 20px 20px;
}

.login__title {
    border-bottom: 1px solid #777777;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

input[type="text"], input[type="password"] {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background: #312b45;
    padding: 0 20px;
}

.input__flex {
    width: 100%;
    margin: 0 auto 20px auto;
}

.login__button, .regist__button {
    text-align: center;
    width: 50%;
    height: 60px;
    padding: 20px 0;
    display: block;
}

.input__button {
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 40px;
    background: #ea003d;
    border-radius: 10px;
}

@media(max-width: 440px) {
    .login {
        width: 100%;
    }
}
